##~/.env file    
## example ~/.env file

## SSH for Transfer functions
REMOTE_HOST=username@192.168.1.xxx
REMOTE_PORT=2220
REMOTE_BASE_PATH=/path/to/directory
## Rclone for Transfer functions
RCLONE_REMOTE=remote
RCLONE_BASE_PATH=remote:path/to/directory
RCLONE_CONFIG=/path/to/rclone.conf

## GPG for for Git functions 
GPG_KEY=0x1234567890ABCDEF

